<div class="expense-form">
  <h3>Add Expense</h3>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="amount">Amount:</label>
      <input
        type="number"
        id="amount"
        [(ngModel)]="amount"
        name="amount"
        required
      />
    </div>
    <div>
      <label for="reason">Reason:</label>
      <input
        type="text"
        id="reason"
        [(ngModel)]="reason"
        name="reason"
        required
      />
    </div>
    <div>
      <label for="date">Date:</label>
      <input type="date" id="date" [(ngModel)]="date" name="date" required />
    </div>
    <div>
      <label for="category">Category:</label>
      <select id="category" [(ngModel)]="category" name="category" required>
        <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
      </select>
    </div>
    <div>
      <label for="modeOfPayment">Mode of Payment:</label>
      <select
        id="modeOfPayment"
        [(ngModel)]="modeOfPayment"
        name="modeOfPayment"
        required
      >
        <option *ngFor="let mode of modesOfPayment" [value]="mode">
          {{ mode }}
        </option>
      </select>
    </div>
    <button type="submit">Add Expense</button>
  </form>
</div>

<hr />

<div class="expense-list">
  <h3>Saved Expenses</h3>
  <label for="budget">Budget:</label>
  <input
    type="number"
    id="budget"
    [(ngModel)]="budget"
    name="budget"
    required
  />
  <button (click)="updateBudget(budget)">Update Budget</button>
  <label for="start">From:</label>
  <input type="date" id="start" [(ngModel)]="start" name="start" required />
  <label for="end">To:</label>
  <input type="date" id="end" [(ngModel)]="end" name="end" required />
  <button (click)="refreshExpenses()">Show</button>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Reason</th>
        <th>Date</th>
        <th>Category</th>
        <th>Mode of Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses$ | async">
        <td>{{ expense.amount }}</td>
        <td>{{ expense.reason }}</td>
        <td>{{ expense.date }}</td>
        <td>{{ expense.category }}</td>
        <td>{{ expense.modeOfPayment }}</td>
        <td>
          <button (click)="deleteExpense(expense.expenseId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
