<div>
  <h1>Expenses</h1>
  <form (ngSubmit)="onSubmit()">
    <label for="amount">Amount</label>
    <input type="number" [(ngModel)]="amount" name="amount" id="amount" />
    <label for="amount">Reason</label>
    <input type="text" [(ngModel)]="reason" name="reason" id="reason" />
    <label for="amount">Date</label>
    <input type="date" [(ngModel)]="date" name="date" id="date" />
    <label for="category">Category</label>
    <select [(ngModel)]="category" name="category" id="category">
      <option *ngFor="let cat of categories" [value]="cat">
        {{ cat }}
      </option>
    </select>
    <label for="modeOfPayment">Mode Of Payment</label>
    <select [(ngModel)]="modeOfPayment" name="modeOfPayment" id="modeOfPayment">
      <option *ngFor="let mode of madesOfPayment" [value]="mode">
        {{ mode }}
      </option>
    </select>
    <button type="submit">Add Expense</button>
  </form>
</div>
